@model InstructorModel

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bienvenido a el curso de programación</h1>
    <br />
    <table class="table">
           <thead>
               
               <tr>
                   <th scope="col">ID </th>
                   <th scope="col">Nombre </th>
                   <th scope="col">Apellidos </th>
                   <th scope="col">          </th>
                   <th scope="col">Curso a Impartir </th>
               </tr>
            </thead>
        @foreach (InstructorModel instructores in (InstructorModel[])ViewBag.instructores)
        {
           <tr>
               <td>@instructores.DNI</td>

               <td>@instructores.Nombre</td> 
               
               <td>@instructores.Apellido_Paterno</td> 
               
               <td>@instructores.Apellido_Materno</td>
               
               <td>@instructores.Especialidad</td>
           </tr>

        }
     </table>
</div>